body{
    background-color: rgb(74, 4, 88);
    color: rgb(192, 166, 19);
    margin: 0px;
}

.navigation{
    background-color: rgb(192, 166, 19);
    color: rgb(74, 4, 88);
    padding: 0.3rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 00.5rem;
}
.navigation .nav-brand{
    font-weight: bold;
    text-align: left;
    margin: 0px;
    text-align: center;
}
.navigation .nav-pills{
    text-align: right;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
.primary-link{
    color: rgb(74, 4, 88);
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

.container{
    margin: auto;
    width: 27%;
    padding: 2rem;
}

.input{
    margin: 2rem;
    margin-top: 0.5rem;
    width: 100%;
    padding: 1rem;
}

label{
    margin: 2rem;
    font-size: large;
    font-weight: bold;
}

.button{
    text-align: center; 
    padding-left: 2rem;
}

#btn{
    color: rgb(74, 4, 88);
    background-color: rgb(192, 166, 19);
    border-radius: 0.5rem;
    padding: 1rem;
  
}

.container-quiz{
    font-size: larger;
    font-weight: bold;
    margin: 1rem;
}

h3 {
    color: rgb(192, 166, 19);
    text-align: center;
    padding: 2rem;
}

footer{
    text-align: center;
    font-size: larger;
    margin-top: 5%;
}